<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>
    Здравствуйте, <b>{{ username }}!</b><br><br>
    Пароль от вашего аккаунта MilkHunters был успешно изменен сегодня {{ change_time }}
    (ip:{{ ip }}).<br><br>
    Это оповещение отправлено в целях обеспечения конфиденциальности и безопасности
    вашего аккаунта MilkHunters. <b>Если изменение пароля запросили вы,
    то дальнейших действий не потребуется.</b><br>
    <b>Если это сделали не вы</b>, измените пароль от своего аккаунта MilkHunters.
    Также рекомендуем изменить пароль от этой эл. почты,
    чтобы обеспечить максимальную защиту аккаунта. <br>
    Если вы не можете получить доступ к своему аккаунту, пройдите по этой
    <a href='https://milkhunters.ru/password_reset?email={{ email }}.'>ссылке</a>,
    чтобы восстановить доступ к аккаунту.<br><br>
    С любовью, команда MilkHunters.
</p>
</body>
</html>